@page
@model ProyectoFinal.Pages.Eventos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Anfitrion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Dj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].NoInvitados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Evento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anfitrion.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dj.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoInvitados)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
